  <div style= "font-family: 'Plus Jakarta Sans', sans-serif; line-height: 1.5;">
    <% @i = 0 %>
    <% @procedure.tasks.order(created_at: :asc).each do |task| %>
      <% @i += 1 %>
      <% @task = PrinterFlow::TaskInfo.new(task.id).get_task_attributes(@i) %>
        <div>
          <hr style="height:1px; border-width:0; background-color:black;">
          <h2 style="font-size: 17px;">
            <b><%= @task[:task_name] %></b>
          </h2>
          <p>
            <b>Descrição:</b> <%= @task[:description] %><br>
          </p>
          <p>
            <b>Tipo de Tarefa:</b> <%= @task[:task_template] %><br>
            <b>Status:</b> <%= @task[:status] %><br>
            <b>Atribuída para:</b> <%= @task[:group_assignee] %><br>
            <b>Responsável:</b> <%= @task[:assignee] %><br>
            <b>Prazo:</b> <%= @task[:deadline] %><br>
            <b>Prioridade:</b> <%= @task[:priority] %><br>
          </p>
          <p>
            <b>Lista de documentos:</b> <%= @task[:documents_list] %><br>
          </p>
          <p>
            <b>Lista de documentos mencionados:</b> <%= @task[:attachments_list] %><br>
          </p>
          <p>
           <%= @task[:comments_list] %><br>
          </p>
          <p>
           <%= @task[:task_fields] %><br>
          </p>
          <p>
            <%= @task[:justification_notes] %>
          </p>
        </div>
    <% end %>
  </div>
