<!doctype html>
<html>
  <style>
    {
    box-sizing: border-box;
    }
    /* Set additional styling options for the columns*/
    .column {
    float: center;
    width: 85%;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }
  </style>

  <head>
    <meta charset= 'utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
    <%= wicked_pdf_javascript_include_tag "number_pages" %>
    <% organization_info = PrinterFlow::OrganizationInfo.new(@procedure.id) %>
  </head>
  <body onload= 'number_pages', style= "font-family: 'Plus Jakarta Sans', sans-serif;">
    <br>
    <div class= "row">
      <div style= "display:inline-block; vertical-align:middle;" align="left">
        <img src="<%= organization_info.logo %>" alt="organization logo" style="width: 60px; height: 60px">
      </div>
      <div class="column" style= "border: 1 px solid red; text-transform: uppercase; display:inline-block; text-align: center;">
        <h1 style= "font-size: 20px; vertical-align: sub"> <%= @procedure.organization.corporate_name %></h1>
      </div>
      <hr style="height:1px; border-width:0; background-color:black;">
      <br>
    </div>
    <%= yield %>
  </body>
</html>
