<div id= "content">
<head>
  <meta charset= 'utf-8' />
</head>
<body>
  <div style="text-align: center;">
    <h2 style= "font-size: 20px;">Relatório do Processo: <%= @procedure.name %></h2>
  </div>
  <div>
    <div class= "row">
      <div class= "column">
        <p style= "font-size: medium"><b>Número do processo: </b> <%= @procedure.internal_process_number %><br>
        <b>Departamento: </b><%= @procedure.department.name %><br>
        <% if @procedure.archived_at != nil %>
          <b>Status do processo: </b>Arquivado<br>
          <b>Arquivado por: </b>
          <%= User.find(@procedure.archiving_notes.last.created_by_id).name %><br></p>
        <% else %>
          <b>Status do processo: </b><%=I18n.t "activerecord.models.flow/procedure.status.#{@procedure.status}"%>
        <% end %></p>
        <p style= "font-size: medium"><b>Quantidade de tarefas: </b><%= @procedure.tasks.kept.count %></p>
      </div>
      <div class= "column" style= "text-align: end;">
        <p style= "font-size: medium;"> <b>Número do documento: </b>
        <% if @procedure.document_number.present? %>
          <%= @procedure.document_number %></p>
        <% else %>
          Não informado
        <% end %>
        <p style= "font-size: medium;"><b>Data de início: </b><%= @procedure.created_at.strftime("%d/%m/%Y") %><br>
        <b>Atualizado em: </b> <%= @procedure.updated_at.strftime("%d/%m/%Y") %></p>
      </div>
    </div>
    <p style= "font-size: medium;"><b>Descrição: </b> <%= @procedure.description %></p>
    <p style= "font-size: medium;"><b>Requerente: </b>
      <% if @procedure.requesters == [] %>
        Não atribuído <br>
      <% else %>
        <% @procedure.requesters.map do |requester| %>
          <%= requester.name%> (<%= requester.email %>);
        <% end %><br>
      <% end %>
      <b>Beneficiário: </b>
       <% if @procedure.beneficiaries == [] %>
        Não atribuído <br>
      <% else %>
        <% @procedure.beneficiaries.map do |beneficiary| %>
          <%= beneficiary.name %> (<%= beneficiary.email %>);
        <% end %><br>
      <% end %>
      <b>Participantes: </b>
      <% @procedure.viewers.map do |viewer| %>
        <%= viewer.name %> (<%= viewer.email %>);
      <% end %><br>
      <b>Anexos: </b>
      <% if @procedure.attachments.count == 0 %>
        Sem anexos<br>
      <% else %>
        <% @procedure.attachments.kept.map do |attachment| %>
          <%= attachment.name %>;
        <% end %><br>
      <% end %>
    </p>
    <p style='font-size: 10px;'><b>* A lista de paginação dos anexos do processo e das tarefas se encontra na última página do documento. </b></p>
    <hr style="height:1px; border-width:0; background-color:black;">
      <%= render "task" %>
  </div>

  <% if @procedure.archiving_notes.count > 0 || @procedure.tasks.discarded.count > 0 %>
    <div style= "page-break-before: always">
      <p><b>Histórico </b></p>
      <% if @procedure.archiving_notes.count > 0 %>
        <% @procedure.archiving_notes.each do |archiving_note| %>
          <p><b><%= I18n.t "activerecord.models.flow/archiving_note.event_type.#{archiving_note.event_type}" %> em <%= archiving_note.created_at.strftime("%d/%m/%Y") %></b><br>
          <b>Usuário: </b><%= User.find(archiving_note.created_by_id).name %><br>
          <b>Justificativa: </b><%= archiving_note.body %></p>
        <% end %>
      <% end %>
      <% if @procedure.tasks.discarded.count > 0 %>
        <% @procedure.tasks.discarded.each do |discarded_task| %>
          <p><b>Tarefa excluída - <%= discarded_task.name %><br>
          Descrição: </b><%= discarded_task.description %><br>
          <b>Excluída em: </b><%= discarded_task.deleted_at.strftime("%d/%m/%Y") %><br>
          <b>Anexos: </b>
          <% if discarded_task.attachments == [] %>
            Sem anexos<br>
          <% else %>
            <% discarded_task.attachments.each do |attachment| %>
              <%= attachment.name %>;
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>

</body>

<style>
  {
    box-sizing: border-box;
  }
  .column {
  float: left;
  width: 50%;
  }

  .row:after {
  content: "";
  display: table;
  clear: both;
  }
</style>
