<% i = 0 %>
<% @procedure.tasks.kept.each do |task| %>
  <div>
    <br>
    <p style= "font-size: medium;"><b>Tarefa 
    <%= i = i + 1 %> - 
    <%= task.name %></b></p>
  </div>
  <div>
    <% if task.refusing_note != nil %>
      <p style= "font-size: medium;"><b>Status: </b> Recusada<br>
      <b>Justificativa: </b> <i><%= task.refusing_note.body %></i><br>
    <% else %>
      <p style= "font-size: medium;"><b>Status: </b> <%= I18n.t "activerecord.models.flow/task.status.#{task.status}" %><br>
    <% end %>
    <b>Descrição: </b> <%= task.description %><br></p>
    <p style= "font-size: medium;"><b>Atribuída para: </b> 
    <% if task.assignee.nil? && task.group_assignee.nil? %>
      Não atribuída
    <% elsif task.assignee.nil? && task.group_assignee.present? %>
      <%= task.group_assignee.name %>
    <% else %>
        <%= task.assignee.email %>
    <% end %><br>
    <b>Anexos: </b>
    <% if task.attachments.kept == [] %>
      Sem anexos<br>
    <% else %>
      <% task.attachments.kept.map do |attachment| %>
        <%= attachment.name %>;
      <% end %></p>
    <% end %>
     <% if task.task_comments != [] %>
      <p><b>Comentários: </b></p>
      <% task.task_comments.each do |comment| %>
        <i><%= comment.created_at.strftime("%d/%m/%Y") %><br>
        <%= comment.body %><br></i>
      <% end %>
    <% end %>
    <% if task.task_assignment.present? && task.task_assignment.notes.present? %>
      <p><b>Histórico de alteração de atribuição:</b></p>
      <% notes = TaskAssignmentNotes.new(task.id).task_assignment_notes %>
      <% notes.each do |note| %>
       <p>Usuário <%= note[:user] %> removido da tarefa em <%= note[:created_at].strftime("%d/%m/%Y") %><br><b>Justificativa:</b> <%= note[:body] %></p> 
      <%end%>
    <% end %>
    <br>
    <hr>
  </div>
<% end %>
