<!doctype html>
<html>
<head>
  <meta charset= 'utf-8' />
  <style>
    .inline{
      display: inline-block;
      vertical-align: middle;
    }

    .element {
      float: left;
      width: 417px;
      height: 280px;
      margin: 10px
    }

    .text{
      float: right;
      margin: 10px
    }
  </style>

</head>
<body>
  <div>
    <h2 style= "font-size: x-large; padding: 1em;" align="center"> Protocolo de Assinaturas </h2>
  </div>
  <div style='margin-left: 15px; margin-right: 50px; float: left;'>
    <img src="https://printer-cloud-public.s3.sa-east-1.amazonaws.com/qr-code-signature-flow.png"" alt="qr-code" width="170"/>
  </div>

  <div style=''>
    <p style='font-size: 20px;'>O documento <strong><%= @signature.attachment.name %></strong> foi assinado eletronicamente através da plataforma Printer Flow.</p>
    <p style='font-size: 20px;'>Verifique a assinatura no link:<br><a href="<%= "#{ENV['PRINTER_FLOW_URL']}/signatures" %>"><%= "#{ENV['PRINTER_FLOW_URL']}/signatures" %></a></p>
    <p style='font-size: 20px;'>Utilize o(s) código(s) abaixo para verificar se esse documento é válido:</p>
    <br>
  </div>
    <div class='element', style='border: 1px solid #F2F1F1; border-radius: 8px;'>
      <div class='inline' style='margin-left: 60px'>
        <img src="https://staging.api.printercloud.com.br/img/flow-logo.svg" alt="logo" width="30"/>
      </div>
      <div class='inline', style='margin-left: 10px;'>
        <p style='font-size: 20px; font-family: Roboto'><strong>CÓDIGO DE ASSINATURA</strong></p>
      </div>
      <div style='padding-left: 1em; padding-right: 1em;'>
        <p style='margin-left: 25px'><strong>Assinado por &nbsp;&nbsp;&nbsp;</strong><%= @signature.user.name %> </p>
        <p style='margin-left: 25px'><strong>Assinado em &nbsp;&nbsp;&nbsp;</strong><%= @signature.created_at.strftime("%d/%m/%Y") %> <%= @signature.created_at.in_time_zone("America/Sao_Paulo").strftime("às %H:%M") %></p>
        <p align='center' style="word-break: break-all; font-size: 16px;" ><strong><%= @signature.signature %></strong></p>
        <p align='center' style='font-size: 15px'>Você também pode verificar a assinatura <a href= <%= "#{ENV['PRINTER_FLOW_URL']}/signatures/?signature=#{@signature.signature}" %> > clicando aqui</a>.</p>
      </div>
    </div>
</body>
